.loginsignup
{
    /* width:100% ;
    height:80vh ;
    background: #bb12c7;
    padding-top: 100px; */

  width: 100%;
  min-height: 80.6vh;
  background-image: url('../../components/Assets/HomeImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  display:flex;
  justify-content: space-between;
  /* filter: blur(4px);
  z-index: -1;*/
} 

.loginsingup-container
{
    width: 400px;
    height: 380px;
    background: #5d5d5d;
    margin-top: 50px;
    padding: 40px 60px;
    margin-left: 480px;
    /* margin: auto; */
    border-radius: 10px;
   
    
}
.loginsingup-container h1{
    margin: 20px 0px;

}

.loginsingup-fields
{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;

}
.loginsignup-fields input
{
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    color: white;
    font-size: 14px;
    background-color: #5d5d5d;
    margin-top:10px;
    
}

.loginsingup-container button
{
  

    background-color: #454343; /* Green background */
    color: white; /* White text */
    padding: 18px 48px; /* Padding for the button */
    font-size: 16px; /* Text size */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left:18px;
    margin-top: 15px;
}

.loginsingup-container button:hover
{
    background-color: #080808; /* Darker green on hover */
  transform: translateY(-2px);
}

.loginsignup-login a
{
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

.section002
{
width: 50%;
/* height: 600px;
margin-top: 30px; */

text-align: center;
margin-top: 350px;
margin-left: -25px;
color: #5d5d5d;
font-family:cursive;

}