.view-detail
{
    width: 100%;
    min-height: 80.6vh;
  
    /* background-color:rgb(142, 131, 131) ; */
    background-image: url('../../components/Assets/HomeImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    display:flex;
    justify-content: space-between;
}

.detail-box
{
    width: 650px;
  height: 600px;
  box-shadow: 0px 0px 10px 10px #f1f1f1;
  text-align: center;
  background-color: rgb(207, 213, 215);
  border: 1px solid black;
  gap: 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 400px;
  

}

.order-btn
{
  

    background-color: #454343; /* Green background */
    color: white; /* White text */
    padding: 14px 40px; /* Padding for the button */
    font-size: 16px; /* Text size */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left:16px;
    margin-top: 4px;
}

.order-btn:hover
{
    background-color: orangered; /* Darker green on hover */
  transform: translateY(-2px);
  color: black;
  
}

.section0002
{
width: 50%;
/* height: 600px;
margin-top: 30px; */

text-align: center;
margin-top: 350px;
margin-left: 280px;
color: #5d5d5d;
font-family:cursive;

}